@keyframes fade-in {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

.powermenu {
    background-color: #0a0e17cc;
    padding: 20px;
    padding-bottom: 10px;
    border-radius: 10px;
    // border: 3px solid rgb(38, 35, 58);
    animation: fade-in 0.3s ease-in;
}

.button {
    padding: 20px;
    border: solid 3px transparent;
    outline: none;
    background-color: transparent;
    transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    transform: scale(1);
}

.button-label {
    font-family: "0xProto Nerd Font Mono";
    font-size: 18px;
    font-weight: normal;
    color: rgb(110, 106, 134);
    transition: color 0.3s ease-in-out;
}

.button-icon {
    font-family: "Phosphor";
    font-size: 64px;
    font-weight: normal;
    color: rgb(110, 106, 134);
    transition: color 0.3s ease-in-out;
}

.underline {
    min-height: 6px;
    min-width: 0;
    border-radius: 10px;
    background-color: rgb(224, 222, 244);
    transition: min-width 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.button:hover,
.button:active,
.button:focus {
    border-color: rgba(224, 222, 244, 0.1);
    transform: scale(0.9);

    .underline {
        min-width: 40px;
    }

    .button-label,
    .button-icon {
        color: rgb(224, 222, 244);
    }
}

///////// BAR

.bar-container {
    padding: 10px;
    padding-bottom: 0px;
    background-color: transparent;
}

.bar-centerbox {
    background-color: transparent;
}

.widgets-left,
.widgets-center,
.widgets-right {
    padding: 8px 16px;
    border-radius: 20px;
}

.widgets-left {
    background-color: #0a0e17cc;
    margin-left: 20px;

    label {
        color: white;
    }
}

.widgets-center {
    background-color: #0a0e17cc;

    label {
        color: white;
    }
}

.widgets-right {
    background-color: #0a0e17cc;
    margin-right: 20px;

    label {
        color: white;
    }
}
