/**
 * @name midnight (remixed)
 * @description midnight but with some tweaks
 * @author refact0r, tsukii.hoshino
 * @version 6.7.0
 * @website https://github.com/refact0r/midnight-discord
 * @source https://github.com/refact0r/midnight-discord/blob/master/themes/midnight.theme.css
*/

/*
                  __ _
  ___ ___  _ __  / _(_) __ _
 / __/ _ \| '_ \| |_| |/ _` |
| (_| (_) | | | |  _| | (_| |
 \___\___/|_| |_|_| |_|\__, |
                       |___/
*/

/*
@import url(https://croissantdunord.github.io/discord-adblock/adblock-extras.css);
@import url("https://warrayquipsome.github.io/Chillax/Addons/FolderRedesign.css");
*/
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/_res/SettingsIcons.css");
@import url("https://refact0r.github.io/midnight-discord/build/midnight.css");

body {
  --font: "fs magistral";
  --code-font: "cartograph cf";
  font-weight: 400;

  --gap: 12px;
  --divider-thickness: 4px;
  --border-thickness: 0px;

  --animations: on;
  --list-item-transition: 0.2s ease-in-out;
  --dms-icon-svg-transition: 0.4s ease;
  --border-hover-transition: 0.2s ease;

  /* TOP BAR */
  --top-bar-height: 6px;
  /* var(--gap) if ur clueless */
  --top-bar-button-position: titlebar;

  /* DMS BUTTON */
  --custom-dms-icon: off;
  /* off, hide, custom */
  --dms-icon-svg-url: url("https://upload.wikimedia.org/wikipedia/commons/c/c4/Font_Awesome_5_solid_moon.svg");
  /* MUST BE A SVG */
  --dms-icon-svg-size: 90%;
  --dms-icon-color-before: var(--icon-secondary);
  /* normal icon color */
  --dms-icon-color-after: var(--white);
  /* icon color when button is hovered/selected */
  --custom-dms-background: off;
  /* off, image, color */
  --dms-background-image-url: url("");
  --dms-background-image-size: cover;
  /* css background-size property */
  --dms-background-color: linear-gradient(70deg,
      var(--blue-2),
      var(--purple-2),
      var(--red-2));
  /* css background property */

  /* BG IMAGE */
  --background-image: off;
  /* off, on */
  --background-image-url: url("");

  /* TRANSPARENCY/BLUR */
  --transparency-tweaks: on;
  /* off, on */
  --remove-bg-layer: on;
  /* off, on */
  --panel-blur: off;
  /* off, on */
  --blur-amount: 2px;
  --bg-floating: var(--bg-3);

  /* CHATBAR */
  --custom-chatbar: separated;
  /* off, aligned, separated */
  --chatbar-height: 56px;
  --chatbar-padding: 8px;

  --small-user-panel: off;
  /* on: smaller user panel like in old discord */
  --custom-chat-prompt: "dont forget to be yourself! :3";
}

/*
           _
  ___ ___ | | ___  _ __ ___
 / __/ _ \| |/ _ \| '__/ __|
| (_| (_) | | (_) | |  \__ \
\___\___/|_|\___/|_|  |___/

*/
:root {
  --colors: on;

  /* text colors */
  --text-0: #1a1f2e;
  /* text on colored elements */
  --text-1: hsl(245, 50%, 91%);
  /* other normally white text */
  --text-2: hsl(245, 35%, 70%);
  /* headings and important text */
  --text-3: hsl(245, 20%, 60%);
  /* normal text */
  --text-4: hsl(245, 15%, 40%);
  /* icon buttons and channels */
  --text-5: hsl(245, 15%, 25%);
  /* muted channels/chats and timestamps */

  /* BG & DARK COLORS */
  --bg-1: hsla(248, 25%, 20%, 0.4);
  /* dark buttons when clicked */
  --bg-2: hsla(248, 25%, 18%, 0.4);
  /* dark buttons */
  --bg-3: #0d1117cc;
  /* spacing, secondary elements */
  --bg-4: hsla(249, 22%, 12%, 0);
  /* main background color */
  --hover: #1a1f2e50;
  /* channels and buttons when hovered */
  --active: #1a1f2e80;
  /* channels and buttons when clicked or selected */
  --active-2: #1a1f2ea0;
  /* extra state for transparent buttons */
  --message-hover: hsla(220, 0%, 0%, 0.1);
  /* messages when hovered */

  /* ACCENT COLORS */
  --accent-1: var(--purple-1);
  /* links and other accent text */
  --accent-2: var(--purple-2);
  /* small accent elements */
  --accent-3: var(--purple-3);
  /* accent buttons */
  --accent-4: var(--purple-4);
  /* accent buttons when hovered */
  --accent-5: var(--purple-5);
  /* accent buttons when clicked */
  --accent-new: var(--accent-2);
  /* stuff that's normally red like mute/deafen buttons */
  --mention: linear-gradient(to right,
      color-mix(in hsl, var(--green-2), transparent 90%) 40%,
      transparent);
  /* background of messages that mention you */
  --mention-hover: linear-gradient(to right,
      color-mix(in hsl, var(--green-2), transparent 95%) 40%,
      transparent);
  /* background of messages that mention you when hovered */
  --reply: linear-gradient(to right,
      color-mix(in hsl, var(--blue-3), transparent 90%) 40%,
      transparent);
  /* background of messages that reply to you */
  --reply-hover: linear-gradient(to right,
      color-mix(in hsl, var(--blue-3), transparent 95%) 40%,
      transparent);
  /* background of messages that reply to you when hovered */

  /* STATUS INDICATOR */
  --online: var(--blue-1);
  --dnd: var(--red-1);
  --idle: var(--yellow-1);
  --streaming: var(--purple-1);
  --offline: var(--text-4);

  /* BORDER */
  --border-light: var(--hover);
  /* general light border color */
  --border: var(--active);
  /* general normal border color */
  --border-hover: var(--active);
  /* border color of panels when hovered */
  --button-border: hsl(220, 0%, 100%, 0.1);
  /* neutral border color of buttons */

  /* BASE COLORS */
  --red-1: oklch(70% 0.174 355);
  --red-2: oklch(65% 0.174 355);
  --red-3: oklch(60% 0.174 355);
  --red-4: oklch(55% 0.174 355);
  --red-5: oklch(50% 0.174 355);

  --blue-1: oklch(79% 0.136 253);
  --blue-2: oklch(74% 0.136 253);
  --blue-3: oklch(69% 0.136 253);
  --blue-4: oklch(64% 0.136 253);
  --blue-5: oklch(59% 0.136 253);

  --green-1: oklch(82.3% 0.052 214.9);
  --green-2: oklch(77.3% 0.052 214.9);
  --green-3: oklch(72.3% 0.052 214.9);
  --green-4: oklch(67.3% 0.052 214.9);
  --green-5: oklch(62.3% 0.052 214.9);

  --yellow-1: oklch(89.6% 0.129 65.8);
  --yellow-2: oklch(84.6% 0.129 65.8);
  --yellow-3: oklch(79.6% 0.129 65.8);
  --yellow-4: oklch(74.6% 0.129 65.8);
  --yellow-5: oklch(69.6% 0.129 65.8);

  --purple-1: oklch(85% 0.091 277);
  --purple-2: oklch(80% 0.091 277);
  --purple-3: oklch(75% 0.091 277);
  --purple-4: oklch(70% 0.091 277);
  --purple-5: oklch(65% 0.091 277);
}

/*
           _
  _____  _| |_ _ __ __ _
 / _ \ \/ / __| '__/ _` |
|  __/>  <| |_| | | (_| |
 \___/_/\_\\__|_|  \__,_|

*/

/* base bg color */
.bg__960e4 {
  background-color: #0a0e1790 !important;
}

/* fix misaligned inbox icon (adjust the offset if necessary) */
div[class^="container_"] div[class^="trailing_"] {
  top: calc(var(--top-bar-height) + 6px + var(--border-thickness)) !important;
}

/* zoom in banner when hovered */
div[data-has-banner="true"] {
  &:hover img[class^="bannerImg_"] {
    transform: scale(1.1);
  }

  nav[class^="container__"]>div[class^="scroller_"] {
    margin-top: 84px;
  }

  ul[aria-label="Channels"]>div[aria-hidden="true"],
  div[class^="headerGlass_"] {
    display: none;
  }

  div[class^="bannerImage_"] {
    cursor: default;
  }

  img[class^="bannerImg_"] {
    object-fit: cover;
    object-position: center;
    transition: transform 0.5s ease;
    transform: scale(1);
  }
}

/* custom chat prompt */
div[class^="textArea__"]>div {
  >div[class^="placeholder__"] {
    visibility: hidden !important;

    &::before {
      visibility: visible !important;
      content: var(--custom-chat-prompt) !important;
    }
  }
}

/* hide some stuffs */
button[class^="entryPointAppCommandButton_"],
.toolbar__9293f>div[aria-label*="Notification"],
div[class^="upsellContainer__"],
div[class^="premiumFeatureBorder__"],
div[class^="container__"]:has(div[class^="artContainer_"]),
div[class^="nameplatePreviewSection__"],
div[class^="sectionsContainer_"]> :is(div:nth-child(4), div:nth-child(5), div:nth-child(6), div:nth-child(7),
  /* div:nth-child(9) */
),
div[class^="upsellOverlayContainer__"],
div[class^="inner__"]>div[class^="buttons__"]> :is(div:nth-child(1), div:nth-child(2), div:nth-child(3), div:nth-child(4)),
div[class^="emojiPicker_"] :is(button[data-migration-pending="true"], div[class^="diversitySelector_"]),
a[href*="support.discord.com"] {
  display: none !important;
}

/* glowy name and custom fonts */
.username_c19a55,
.username__703b9,
div[class*="nickname__"],
div[class^="panelTitleContainer__"]>div[class*="title_"],
span[class^="username__"],
div[class^="name__"]>div {
  font-family: "bookerly", sans-serif;
}

.username_c19a55,
.username__703b9 {
  text-shadow: 0 0 3px currentColor;
}

/* cool folder redesigns */
.blobContainer_e5445c,
.folderPreviewWrapper__48112 {
  transform: scale(0.9) !important;
}

.item__58105 {
  border-radius: 2px !important;
  min-height: 10px !important;
  max-height: 25px !important;
}

.folderButton__48112 {
  >.wrapper_cc5dd2 {
    width: 42px !important;
    height: 42px !important;
    margin-left: 2px !important;

    >svg {
      width: 42px !important;
      height: 42px !important;
      margin-left: 2px !important;
    }
  }
}

.folderGroup__48112>.listItem__650eb {
  height: 42px !important;
}

span[class^="folderGroupBackground__"] {
  width: 43px;
  margin-left: 3.3px;
}

/* move buttons on profile modal */
.user-profile-modal-v2 .profile__9c3be {
  anchor-name: --profile-anchor;
  --tooltip-bg: color-mix(in oklab,
      var(--neutral-79) 100%,
      var(--custom-theme-base-color, #000) var(--custom-theme-base-color-amount, 0%));
  --tooltip-border: color-mix(in oklab,
      hsl(var(--opacity-12-hsl) / 0.12156862745098039) 100%,
      hsl(var(--custom-theme-base-color-hsl, 0 0% 0%) / 0.12156862745098039) var(--custom-theme-border-color-amount,
        var(--custom-theme-base-color-amount, 0%)));
  --arrow-svg: url("data:image/svg+xml,%3Csvg fill='%23242429' color='%23323237' width='16' height='10' viewBox='0 0 16 10' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath  d='M10.3426 7.0715C9.14163 8.57272 6.85837 8.57272 5.65739 7.0715L0 -0.000244141L16 -0.000244141L10.3426 7.0715Z'%3E%3C/path%3E%3Cpath stroke='currentColor' d='M9.93457 6.84546C8.93433 8.06766 7.06567 8.06766 6.06543 6.84546L0.0546875 -0.500244L15.9453 -0.500244L9.93457 6.84546Z'%3E%3C/path%3E%3C/svg%3E");

  .profileButtons__9c3be {
    position: fixed;
    top: calc(anchor(--profile-anchor start) + 12px);
    right: calc(anchor(--profile-anchor end) + 12px);

    button {
      background: var(--redesign-button-overlay-alpha-background) !important;
      border: 1px solid var(--opacity-white-8) !important;
      border-radius: 50%;

      &:hover,
      &:active {
        background: var(--redesign-button-overlay-alpha-pressed-background) !important;
      }
    }

    >button {
      min-width: 32px !important;
      color: var(--button-secondary-text) !important;

      >.buttonChildrenWrapper_a22cb0 {
        overflow: visible;
        padding: 0 !important;

        >.buttonChildren_a22cb0 {
          overflow: visible;
          justify-content: center;
        }
      }

      .lineClamp1__4bd52 {
        align-items: center;
        position: absolute;
        top: -62px;

        background-color: var(--tooltip-bg);
        border-radius: var(--radius-sm);
        box-shadow:
          inset 0 0 0 1px var(--tooltip-border),
          var(--shadow-high);
        color: var(--text-default);
        padding: var(--space-8) var(--space-12);
        pointer-events: none;

        display: flex;
        justify-content: center;
        overflow: visible;

        will-change: opacity, transform;
        opacity: 0;
        transform: scale(0.95);
        transform-origin: 50% 100%;
        transition:
          opacity 0.1s ease,
          transform 0.1s ease;

        &::after {
          content: var(--arrow-svg);
          position: absolute;
          bottom: -13px;
        }
      }

      &:hover .lineClamp1__4bd52 {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

/* panels redesign */
#vc-spotify-player {
  background-color: var(--background-gradient-highest,
      var(--background-base-low)) !important;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border: 1px solid var(--border-subtle);
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  height: 130px;
  margin-bottom: 12px;
}

section[class^="panels_"] {
  background: var(--background-gradient-high, var(--background-base-lowest));
  border: 0px;
  border-left: 0px;

  div[class^="container__"] {
    background-color: var(--background-gradient-highest,
        var(--background-base-low));
    border: 1px solid var(--border-subtle);
    border-radius: 20px;
  }

  div[class^="panel_"] {
    margin-bottom: 12px;
    border-radius: 20px;
    border: 1px solid var(--border-subtle);
  }

  div[class^="listeningAlong_"] {
    border: 1px solid var(--border-subtle) !important;
    margin-bottom: 12px;
    border-radius: 20px;
  }
}

header[class^="header_"] {
  border-bottom: 0px;
}

/* v1 profile modal */
.user-profile-modal-v2 {
  max-width: 650px !important;
  min-width: 0px !important;
  max-height: 700px !important;
  min-height: 0px !important;

  .inner_c0bea0 {
    padding: 0px !important;
    gap: 0px !important;
    flex-direction: column !important;
    container-type: size;
  }

  .profile__9c3be {
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: var(--radius-md);
  }

  &.custom-theme-background {
    .inner_c0bea0 {
      padding: 4px !important;
      background: linear-gradient(100px (--profile-gradient-primary-color),
          100px (--profile-gradient-secondary-color)) !important;
    }

    .profile__9c3be {
      width: calc(100% - 8px);
      height: calc(100% - 8px);
    }
  }

  .selected_aa8da2 {
    color: var(--text-secondary) !important;

    &::after {
      display: none;
    }
  }

  .inner_c0bea0:has(.tabBarItem__37bfc:focus,
    .top_aa8da2:focus,
    .tabBarPanel__37bfc:focus-within,
    .tabBarPanel__37bfc:focus) {
    .profile__9c3be {

      .markup__75297,
      .section_bf424d {
        visibility: hidden !important;
        pointer-events: none !important;
      }
    }

    .tabBarPanel__37bfc {
      display: flex !important;
      opacity: 1;
      pointer-events: all !important;
    }

    .top_aa8da2::before {
      color: var(--text-secondary);
      border-bottom: none !important;
    }

    .selected_aa8da2 {
      color: var(--selected-tab-item-color) !important;

      &::after {
        display: block !important;
      }
    }
  }

  .tabBarPanel__37bfc {
    opacity: 0;
    z-index: 999;
    pointer-events: none !important;
    padding: 0px 26px;
  }

  .container__37bfc {
    margin-top: 270px;
    padding: 18px 4px 26px;
  }

  .banner__68edb {
    height: 100% !important;
    border-radius: 0px;
  }

  .profileHeader__9c3be {
    height: 320px !important;

    .mask__68edb {
      min-height: 0px !important;

      >foreignObject {
        mask: none;

        .banner__68edb {
          min-height: 0px !important;
          height: 100px !important;

          &::before {
            display: none;
          }
        }
      }
    }
  }

  .profileButtons__9c3be {
    position: fixed;
    right: 26px;
  }

  .container__63ed3 {
    position: fixed;
    top: 220px !important;
    max-width: calc(var(--pmv1b-max-width) - 200px - 26px - 26px);
  }

  .profileBody__9c3be {
    margin-top: -2px;
    padding-top: var(--space-xl);
  }

  .top_aa8da2::before {
    content: "Info";
    color: var(--text-primary);
    border-bottom: 2px solid var(--text-primary) !important;
    font-size: 14px;
    font-weight: 600;
    padding-bottom: 13px;
    --tab-item-color: var(--text-primary);
    margin: 0px var(--space-xl) 0px 8px;
    cursor: pointer;
  }

  .empty_e766f2 {
    padding: 0px !important;
    justify-content: center;
  }

  .tabBarItem__37bfc:hover {
    color: var(--text-primary) !important;
    cursor: pointer;

    &::after {
      display: block;
    }
  }

  .profileAppConnections__9c3be {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .connection__9bfb9 {
    border: 1px solid var(--border-subtle) !important;
    border-radius: var(--radius-sm);
    padding: var(--space-sm);

    .accountName__9bfb9,
    .platformUrlAnchor__9bfb9,
    .connectionInfo__9bfb9 {
      width: 100%;
      justify-content: space-between;
    }
  }

  .connectionInfo__9bfb9 {
    justify-content: start;
    padding-top: 3px;
  }

  .connection__9bfb9:has(.metadata__9bfb9 > .connectedAccountVanityMetadata_fffe42) {
    order: -1;

    .connectionInfo__9bfb9 {
      justify-content: center;
      padding-top: 0px;
    }
  }

  .wrapper__44b0c::before {
    content: "";
    position: absolute;
    left: -7.5%;
    top: -7.5%;
    width: 115%;
    height: 115%;
    border-radius: 50%;
    background: var(--profile-gradient-modal-background-color);
  }
}
